html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("../assets/images/bg-2.png") repeat;
    background-size: 500px 500px;
    background-position: top left;
    background-color: #c6f1ff;
}

/* ===== LINKS GERAIS ===== */
a {
    color: #0056d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ===== HEADER ===== */
header {
    background: #f24a1d;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 10;
    width: 1140px;
    margin: 0 auto;
    
}

.header-container {
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ===== MENU ESQUERDO ===== */
.left-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    height: 45px;
    width: auto;
}

.menu-left ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

/* ===== MENU DIREITO ===== */
.right-group {
    display: flex;
    align-items: center;
}

.menu-right ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu-left a,
.menu-right a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.5px;
    transition: color 0.3s ease, transform 0.2s ease;
}

.menu-left a:hover,
.menu-right a:hover {
    color: #003a52;
    transform: scale(1.05);
}

/* ===== MAIN (SECTION + ASIDE) ===== */
main {
    display: grid;
    grid-template-columns: 800px 320px;
    gap: 20px;
    width: 1140px;
    margin: 20px auto;
    
}

/* ===== SECTION PRODUTOS ===== */
section.produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
    background-color: white;
}

.produto {
   
    padding: 10px;
   

}

.produto img {
    width: 100%;
    height: auto;
}

.produto h3 {
    margin: 10px 0 5px;
}

.produto p {
    padding: 10px 0 0 0;
    font-size: 14px;
    color: #555;
}

/* Botão Ver Mais */
.produto button {
    background-color: #ff3b00;
    color: white;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.produto button:hover {
    background-color: #cc3100;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.produto button:active {
    transform: scale(0.96);
}

/* ===== ASIDE ===== */
aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ===== BOX TUTORIAIS ===== */
.tutoriais {
    height: 560px;
    padding: 0 0px 10px 0px;
    background-color: transparent;
}

/* Título */
.tutoriais h2 {
    background-color: white;
    height: 40px;
    padding: 8px 8px;
    margin: 0 0 10px 0;
    font-size: 1.5em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

/* ITEM DO TUTORIAL */
.tutorial-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 0 0 10px;
    margin-bottom: 2px;
    height: 125px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
}

.tutorial-item:last-child {
    margin-bottom: 0;
}

.tutorial-item img {
    width: 120px;
    height: 100px;
    margin-right: 10px;
    object-fit: cover;

}

/* ===== PUBLICIDADE ===== */
.publicidade {
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.publicidade h2 {
    background-color: white;
    padding: 8px 8px;
    height: 40px;
    margin: 0 0 10px 0;
    font-size: 1.5em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

    margin: transparent;
}

.publicidade img {
    width: 100%;
    display: block;
    background-color: white;
    padding: 10px;

    margin-bottom: 0px;
    /* espaço entre as imagens, agora BRANCO */

}

.publicidade img:last-child {
    margin-bottom: 0;
}

/* ===== FOOTER ===== */
footer {
    text-align: center;
    padding: 15px;
    background-color: #ff3b00;
    color: white;
    width: 1140px;
    margin: 20px auto 30px auto;
    
}